@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.profile-card {
  background: #03045e;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 350px;
  width: 100%;
  color: #caf0f8;
}
.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.profile-card h2,
.profile-card h3,
.profile-card p {
  margin: 10px 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
}
.social-links a {
  margin: 0 5px;
  text-decoration: none;
  color: #0073b1;
}

.social-links :hover {
  color: white;
  font-weight: bold;
  text-decoration: underline solid white;
}
